<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="lagoubean" class="org.springframework.lagou.ioc.demo.lifecycle.LagouBean"/>
	<bean id="myBeanFactoryPostProcessor"
		  class="org.springframework.lagou.ioc.demo.lifecycle.MyBeanFactoryPostProcessor"/>
	<bean id="myBeanPostProcessor" class="org.springframework.lagou.ioc.demo.lifecycle.MyBeanPostProcessor"/>


	<!--aop配置-->
	<!--横切逻辑-->
	<bean id="logUtils" class="org.springframework.lagou.ioc.demo.lifecycle.LogUtils">
	</bean>

	<aop:config>
		<aop:aspect ref="logUtils">
			<aop:before method="beforeMethod" pointcut="execution(public void org.springframework.lagou.ioc.demo.lifecycle.LagouBean.print())"/>
		</aop:aspect>
	</aop:config>
</beans>

